<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>rxObserves.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04E63C911CAFBDF700F66995</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04E63CA51CAFBDF700F66995</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04E63CB01CAFBDF700F66995</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
